@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --prim-color: #a91d3a;
  --sec-color: #ffffff;
  --bg-color: #eeeeee;
  --shadow-color: 0deg 0% 0%;
  --shadow: 0.8px 0.7px 1.2px hsl(var(--shadow-color) / 0.11), 2.6px 2.2px 3.8px -0.8px hsl(var(--shadow-color) / 0.11),
    6.5px 5.5px 9.6px -1.7px hsl(var(--shadow-color) / 0.11), 15.7px 13.3px 23.1px -2.5px hsl(var(--shadow-color) / 0.11);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--bg-color);
}

header {
  display: flex;
  align-items: center;
  padding: 5rem;
  background-color: var(--prim-color);
}

.profile-photo {
  display: flex;
  justify-content: center;
  max-width: 700px;
}

.profile-photo h1 {
  position: absolute;
  color: var(--sec-color);
  margin: 0;
}

.profile-photo img {
  width: 100%;
  object-fit: cover;
}

header h1 {
  margin-bottom: 3rem;
}

header img {
  box-shadow: var(--shadow);
}

.header-links img,
.footer-icons img {
  width: 50px;
  box-shadow: none;
  cursor: pointer;
}

.header-links {
  padding-top: 3rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

h1 {
  font-size: 2rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 200;
}

.about-me p {
  font-size: 1.2rem;
}

.about-me {
  padding: 2rem;
  box-shadow: var(--shadow);
  background-color: var(--sec-color);
}

.separator {
  width: 100%;
  height: 0;
  border-left: calc(100vw - 16px) solid transparent;
  border-bottom: 25vw solid var(--bg-color);
  margin-top: -25vw;
  overflow-x: hidden;
}

.my-work {
  margin: 5rem 5rem 10rem;
}

.my-work > h1 {
  margin-bottom: 1rem;
}

.my-work-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.card {
  background-color: var(--sec-color);
  box-shadow: var(--shadow);
  max-width: 520px;
}

.project-ss {
  padding: 10rem 5rem;
}

.project-ss.one {
  background-image: url(./img/1.jpg);
  background-size: cover;
}

.project-ss.two {
  background-image: url(./img/2.jpg);
  background-size: cover;
  background-position: center;
}

.project-ss.three {
  background-image: url(./img/3.jpg);
  background-size: cover;
  background-position: center;
}

.project-ss.four {
  background-image: url(./img/4.jpg);
  background-size: cover;
  background-position: center;
}

.project-ss.five {
  background-image: url(./img/5.jpg);
  background-size: cover;
}

.project-ss.six {
  background-image: url(./img/6.jpg);
  background-size: cover;
  background-position: center;
}

.project-info {
  padding: 2rem 2rem 5rem;
  font-size: 1.2rem;
}

.project-info p {
  color: hsl(0, 0%, 40%);
}

.project-head {
  display: grid;
  grid-template-columns: 1fr 32px 32px;
  gap: 1rem;
  margin-bottom: 1rem;
}

.project-head h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 200;
  font-size: 2rem;
}

.project-head svg,
.project-head img {
  width: 32px;
  cursor: pointer;
}

footer {
  background-color: var(--prim-color);
  color: var(--sec-color);
  display: flex;
  padding: 5rem;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0px 2rem;
  justify-content: center;
}

.contact-info p {
  font-size: 1.2rem;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}

.footer-photo img {
  width: 100%;
  object-fit: contain;
}

.contact-info,
.footer-photo {
  flex: 1 1 0;
}

@media (max-width: 1200px) {
  .card {
    max-width: 370px;
  }

  h1 {
    font-size: 2rem;
  }

  .contact-info {
    gap: 2rem;
  }

  .contact-info p,
  .header p {
    font-size: 1.2rem;
  }

  footer {
    padding: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
  }

  .footer-photo img {
    min-width: 300px;
  }

  .footer-photo {
    display: flex;
    justify-content: center;
  }
}
